feature-pic-size = 180px

.features
  margin 0 0 30px 0
  display flex
  flex-flow row wrap
  flex-direction row
  flex-wrap wrap
  justify-content space-between

  @media mq-mobile
    justify-content space-around

  &_title
    //text-align center
    font-family font-title
    font-weight 700
    font-size 22px
    margin 30px 0 30px 0
    padding-bottom 15px
    text-transform uppercase
    border-bottom 1px solid color-border

    @media mq-mobile
      text-align center

.feature
  position relative
  //background #fff
  //box-shadow 0 1px 1px rgba(0, 0, 0, 0.25)
  margin-bottom 40px
  border-radius 2px
  padding-left (feature-pic-size + 20px)
  min-height feature-pic-size

  flex-grow   0
  flex-shrink 0

  @media mq-mobile
    padding-left 0
    flex-basis 100%
    padding-bottom 20px

  @media mq-tablet
    flex-basis 100%

  @media mq-normal
    flex-basis 48%

  &_pic
    position absolute
    top  0
    left 0
    display block
    width  feature-pic-size
    height feature-pic-size

    @media mq-mobile
      position relative
      width 100%
      text-align center
      margin-bottom 12px

    img
      width  feature-pic-size
      height feature-pic-size
      //background-color #8ad7f4

  &_title
    font-family font-title
    font-weight bold
    color #333
    font-size 18px
    text-decoration none
    line-height 1
    padding-top 3px
    display block
    position relative

    @media mq-mobile
      padding-bottom 12px
      border-bottom 1px solid #ccc

    .fa
      display none
      position absolute
      top   12px
      right 12px
      margin-right 7px
      color #08aeec

  &_more
    display inline-block
    border 2px solid color-link
    line-height 1em
    padding 3px 7px
    font-size 13px
    font-weight 700
    color color-link
    text-decoration none

    &:hover
      background-color color-link
      color #fff

  &_desc
    margin-top 12px
    line-height 1.8em

    p
      display inline

    strong
      font-weight 700
      color color-link
