.sidebar
  width 240px
  float right
  padding-bottom 40px
  display none

  @media mq-normal
    display block

  &-title
    margin-top 20px
    padding 10px 0
    font-family font-title
    font-weight 700
    color color-link
    display block
    border-bottom 1px solid color-border
    line-height 1
    margin-bottom 7px

  &-link
    font-family font-title
    display block
    color color-default
    text-decoration none
    padding 7px 0
    line-height 1
    position relative
    width 100%
    text-overflow ellipsis
    overflow hidden
    white-space nowrap
    &.current
      color color-link
    &:hover
      color color-link-hover
