.themes
  margin 50px 0 30px 0
  visibility hidden

  &.slick-initialized
    visibility visible

  &_intro
    margin 30px 0 0 0
    text-align left
    font-weight 700
    padding-left 20px
    border-left 3px solid #71cff2

.theme
  padding 0 20px

  &_name
    display block
    margin-bottom 12px
    padding-left 3px

  img
    max-width 100%
