.themes
  margin 40px 0 40px 0
  display flex
  flex-flow row wrap
  flex-direction row
  flex-wrap wrap
  justify-content space-between

  @media mq-mobile
    justify-content space-around

.theme
  margin-bottom 20px
  border-radius 2px

  flex-grow   0
  flex-shrink 0

  &_name
    display block
    font-family font-title
    font-size 18px
    font-weight 700
    margin-bottom 10px

  img
    border-radius 2px
    box-shadow 0 2px 3px rgba(0, 0, 0, 0.35)
    max-width 100%
    float left

  @media mq-mobile
    flex-basis  94%

  @media mq-tablet
    flex-basis  49%

  @media mq-normal
    flex-basis  32%
