<div class="extension">
    <div class="extension_name">
        <a href="{{ .link }}" class="extension_link" target="_blank">
            {{ .name }}
        </a>
        <a href="https://www.npmjs.com/package/{{ .name }}" target="_blank">
            <img alt="{{ .name }} NPM version" src="https://img.shields.io/npm/v/{{ .name }}.svg?style=flat-square">
        </a>
    </div>
    <p class="extension_desc">{{ .description }}</p>
    <div class="extension_tags">
        {{ range .tags }}
            <a href="#{{ . }}" class="extension_tag">{{ . }}</a>
        {{ end }}
    </div>
</div>
