{{ partial "header.html" . }}
<section class="main">
    <div class="container">
        <div class="content">
            <div class="strata_out sub-header">
                <div class="strata">
                    <div class="strata_in">
                        <h1 class="page-title">{{ .Title }}</h1>
                        {{ if .Params.baseline }}
                            <div class="page-baseline">{{ .Params.baseline }}</div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="strata_out page_content">
    <div class="strata">
        <div class="strata_in">
            <article class="article-container" itemscope itemtype="http://schema.org/Article">
                <div class="article">
                    <div class="article-content" itemprop="articleBody" data-swiftype-index="true">
                        {{ .Content }}
                    </div>
                </div>
            </article>
            {{ if isset .Params "menu" }}
                <aside class="sidebar" role="navigation">
                    <ul>
                        {{ range (index .Site.Menus .Params.menu) }}
                            <li>
                                <a href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                        {{end}}
                    </ul>
                </aside>
            {{ end }}
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
