// Config
support-for-ie  = false
vendor-prefixes = webkit moz ms official

// Colors
color-default    = #444
color-gray       = #999
color-mint       = #a2e7da
color-border     = #ccc
color-navy       = hsl(210, 25%, 12%)
color-link       = #09989d
color-link-hover = lighten(color-link, 10%)

// Typography
font-sans   = 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
font-serif  = Garamond, Georgia, 'Times New Roman', serif
font-mono   = Consolas, 'Source Code Pro', Monaco, Menlo, monospace
font-title  = 'Montserrat', font-sans
font-size   = 16px
line-height = 1.6em

// Layout
header-height    = 50px
max-width        = 1200px
gutter-width     = 20px
sidebar-width    = 220px
mobile-nav-width = 260px
logo-width       = 100px


// Media queries
mq-mobile = "screen and (max-width: 768px)"
mq-normal = "screen and (min-width: 769px)"
mq-tablet = "screen and (min-width: 480px)"
