    <footer id="footer" class="strata_out">
        <div class="strata">
            <div class="strata_in">
                <div id="footer-copyright">
                    <a href="https://github.com/plouc/mozaik">Mozaïk</a> |  Distributed under MIT License |
                    crafted by <a href="https://github.com/plouc" target="_blank">Raphaël Benitte</a> aka <a href="https://github.com/plouc">plouc</a> |
                    Found an issue with the docs? Report it <a href="https://github.com/plouc/mozaik-website/issues/new">here</a>
                </div>
            </div>
        </div>
    </footer>
</div>
<div id="mobile-nav-dimmer"></div>
{{ partial "mobile_nav" . }}
{{ partial "footer_scripts" . }}
</body>
</html>