<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head" . }}
<body lang="{{ .Site.Params.lang }}">
<header class="strata_out header">
    <div class="strata">
        <div class="strata_in">
            <h1 id="logo-wrap">
                <a href="{{ .Site.BaseURL }}" class="header_logo">Mozaïk</a>
            </h1>
            <nav class="main-nav">
                {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}
                        <div class="dropdown">
                            <span class="main-nav_item">{{ .Name }}</span>
                            <div class="dropdown__content">
                                {{ range .Children }}
                                    <a href="{{ .URL }}" class="main-nav_item main-nav_item--sub">{{ .Name }}</a>
                                {{ end }}
                            </div>
                        </div>
                    {{ else }}
                        <a href="{{ .URL }}" class="main-nav_item">{{ .Name }}</a>
                    {{ end }}
                {{ end }}
                <a href="https://github.com/plouc/mozaik" target="_blank" class="main-nav_item">Github</a>
                <a href="http://mozaik.herokuapp.com/" target="_blank" class="main-nav_item main-nav_item-demo">demo</a>
            </nav>
            <a id="mobile-nav-toggle">
                <span class="mobile-nav-toggle-bar"></span>
                <span class="mobile-nav-toggle-bar"></span>
                <span class="mobile-nav-toggle-bar"></span>
            </a>
            <a id="mobile-search-btn" class="st-search-launcher"></a>
        </div>
    </div>
</header>
<div id="container">