<aside class="sidebar">
    {{ if isset .Params "menu" }}
        {{ $currentNode := . }}
        <nav role="navigation">
            {{ range .Site.Menus.main }}
                {{ if $currentNode.HasMenuCurrent "main" . }}
                    {{ $parent := . }}
                    {{ range .Children }}
                        {{ if $currentNode.HasMenuCurrent "main" . }}
                            <span class="sidebar__title">
                                {{ $parent.Name }} / {{ .Name }}
                            </span>
                            {{ range .Children }}
                                <a href="{{ .URL }}" class="sidebar__link{{ if $currentNode.IsMenuCurrent "main" . }} _is-current{{ end }}">
                                    {{ .Name }}
                                </a>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
        </nav>
    {{ end }}
</aside>