header-padding-normal = 10px
header-padding-max    = 30px

.header
  position fixed
  z-index 200
  top   0
  right 0
  left  0
  //background rgba(20, 175, 227, 0.35)
  color      #fff
  height header-height
  //transition 200ms
  //box-shadow 0 1px 3px rgba(0, 0, 0, 0.1)

  @media print
    display none

  .home &
    padding header-padding-max 0

  &_compact
    background #fff
    color      #777
    box-shadow 0 1px 1px rgba(0, 0, 0, 0.15)

    .header_logo
      background-image url("/images/mozaik-logo.png")

    .main-nav_item
      color #777
      &._is-active
        color #000

      &:hover
        color #13aae3

    .main-nav_item-demo
      background #13aae3
      color      #fff

      &:hover
        background #fff
        color      #13aae3

  &_logo
    hide-text()
    background-image url("/images/mozaik-logo-white.png")
    background-repeat no-repeat
    background-position 0 10px
    background-size contain
    width  logo-width
    height header-height
    display inline-block
    @media mq-normal
      float left

#logo-wrap
  text-align: center

.main-nav
  display none
  float right
  height header-height
  padding 10px 0
  align-items center
  justify-content flex-end

  @media mq-normal
    display flex

.dropdown
  position: relative

.dropdown__content
  display: none
  top: 26px
  position: absolute
  background-color: #f9f9f9
  min-width: 160px
  padding: 6px 0
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.35)

.dropdown:hover .dropdown__content
  display: block

.main-nav_item
  color: #fff
  cursor: pointer
  text-decoration: none
  font-family: font-title
  font-size: 13px
  font-weight: 700
  text-transform: uppercase
  padding: 7px 10px
  display: block
  line-height: 1em
  //transition all 200ms

  &:hover
    color #fff

  &--sub
    color: color-default
    text-transform: none
    padding: 6px 15px
    font-weight: 400

    &:hover
      color color-link

  &._is-active
    color #fff

  &-demo
    background #fff
    color      #13aae3
    border-radius 2px
    margin-left 10px

    &:hover
      background #13aae3
      color      #fff
