.versions
  background: #ffe5cd
  padding: 10px 15px
  border-radius: 2px
  border: 1px solid #e3cc98
  margin-top: 20px
  font-size: 14px
  line-height: 20px

  &__switch
    margin-top: 7px
    display: flex