{{ partial "header" . }}
<div class="strata_out sub-header index_banner">
    <div class="strata">
        <div class="strata_in">
            <p class="index_banner_intro">
                Mozaïk is a tool based on nodejs / react / d3 / stylus to easily craft beautiful dashboards.
            </p>
            <div id="intro-get-started-wrap">
                <a class="index_banner_link" href="http://mozaik.herokuapp.com/" target="_blank">demo</a>
                <a class="index_banner_link" href="{{ printf "/v%d/use/" .Site.Params.mozaikCurrentVersion }}">get started</a>
            </div>
        </div>
    </div>
</div>
{{ partial "share" . }}
{{ partial "features" . }}
{{ partial "references" . }}
{{ partial "use_cases" . }}
{{ partial "footer" . }}